/* Full Screen Styling */

#full-window-button
{
  float: left;
  margin: 5px 5px 5px 0px;
}


.cwrc-fullwindow
{
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  top: 0px;

  z-index: 50;
  background: #fff;
}

.admin-menu .cwrc-fullwindow
{
  top: 20px;
}

.cwrc-fullwindow .cwrc-iframe-wrapper
{
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  top: 30px;

  width: 100%;
  z-index: 50;
  
  background: #fff;
}

.cwrc-fullwindow .cwrc-iframe-wrapper iframe
{
  position: absolute;
  width: 100%;
  height: 100% !important; 
}