/* Full Screen Styling */

#full-screen-button
{
  float: left;
  margin: 5px 5px 5px 0px;
}


.cwrc-fullscreen
{

}

.cwrc-fullscreen #main-wrapper
{
  position: inherit;
}

.cwrc-fullscreen .cwrc-iframe-wrapper
{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 20px;

  width: 100%;
  z-index: 50;
  
  background: #fff;
}

.cwrc-fullscreen .cwrc-iframe-outer
{
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  top: 30px;
}


.cwrc-fullscreen .cwrc-iframe-wrapper iframe
{
  position: absolute;
  width: 100%;
  height: 100% !important; 
}