body {
  margin: 0;
  padding: 0;
  border: 0;
  /* This removes the border around the viewport in old versions of IE */
  width: 100%;
  background: #fff;
  min-width: 600px;
  /* Minimum width of layout - remove line if not required */
  /* The min-width property does not work in old versions of Internet Explorer */
  font-size: 90%; }

a {
  color: #369;
  &:hover {
    color: #fff;
    background: #369;
    text-decoration: none; } }

h1, h2, h3 {
  margin: .8em 0 .2em 0;
  padding: 0; }

p {
  margin: .4em 0 .8em 0;
  padding: 0; }

img {
  margin: 10px 0 5px; }

#ads img {
  display: block;
  padding-top: 10px; }

/* Header styles */

#header {
  clear: both;
  float: left;
  width: 100%;
  border-bottom: 1px solid #000;
  p, h1, h2 {
    padding: .4em 15px 0 15px;
    margin: 0; }
  ul {
    clear: left;
    float: left;
    width: 100%;
    list-style: none;
    margin: 10px 0 0 0;
    padding: 0;
    li {
      display: inline;
      list-style: none;
      margin: 0;
      padding: 0;
      a {
        display: block;
        float: left;
        margin: 0 0 0 1px;
        padding: 3px 10px;
        text-align: center;
        background: #eee;
        color: #000;
        text-decoration: none;
        position: relative;
        left: 15px;
        line-height: 1.3em;
        &:hover {
          background: #369;
          color: #fff; }
        &.active {
          color: #fff;
          background: #000;
          font-weight: bold;
          &:hover {
            color: #fff;
            background: #000;
            font-weight: bold; } }
        span {
          display: block; } } } } }

/* 'widths' sub menu */

#layoutdims {
  clear: both;
  background: #eee;
  border-top: 4px solid #000;
  margin: 0;
  padding: 6px 15px !important;
  text-align: right; }

/* column container */

.colmask {
  position: relative;
  /* This fixes the IE7 overflow hidden bug */
  clear: both;
  float: left;
  width: 100%;
  /* width of whole page */
  overflow: hidden;
  /* This chops off any overhanging divs */ }

/* common column settings */

.colright, .colmid, .colleft {
  float: left;
  width: 100%;
  /* width of page */
  position: relative; }

.col1, .col2, .col3 {
  float: left;
  position: relative;
  padding: 0 0 1em 0;
                  	/* no left and right padding on columns, we just make them narrower instead 
				only padding top and bottom is included here, make it whatever value you need */
  overflow: hidden; }

/* 3 Column settings */
$leftcol: 18%;
$leftcolpadleft: .5%;
$leftcolpadright: 0%;
$rightcol: 40%;
$rightcolpadleft: 0%;
$rightcolpadright: 0%;
$midcolpadleft: 0%;
$midcolpadright: 0%;

// calculated var, no need to touch this
$midcol: 100% - ($leftcol + $rightcol);

.threecol {
  background: #eee;
  .colmid {
    right: $rightcol;
    background: #fff;
  }
  .colleft {
    right: $midcol;
    background: #f4f4f4;
  }
  .col1 {
    width: $midcol - ($midcolpadleft + $midcolpadright);
    left: 100% + $midcolpadleft;
  }
  .col2 {
    width: $leftcol - ($leftcolpadleft + $leftcolpadright);
    left: ($rightcol + ($midcolpadleft + $midcolpadright)) + $leftcolpadleft;
  }
  .col3 {
    width: $rightcol - ($rightcolpadleft + $rightcolpadright);
    left: ((100% - $leftcol) + ($midcolpadleft + $midcolpadright)) + ($leftcolpadleft + $leftcolpadright) + $rightcolpadleft;
  }
}

/* Footer styles */

#footer {
  clear: both;
  float: left;
  width: 100%;
  border-top: 1px solid #000;
  p {
    padding: 10px;
    margin: 0; } }
