/* Canvas stylesheet */

/* Annotations */

#annotations img
{
  margin: 0px 0px 0px 0px;
}

#annotations .base_img
{
  left: 1px !important;
  top: 1px !important;
}

#dialogs
{

}


/* Image annotation dialog boxes */

#create_annotation_box
{
  top: 100px;
  left: auto;
  right: 50px;
}